body {
  color: #51c9c2;
  font-size: 25px;
  background-color: #fcfff5;
  text-align: center;
  font-family: 'Josefin Slab', serif;
  margin-left: 5%;
  margin-right: 5%;
}

h1 {
  background-color: #51c9c2;
  color: #fcfff5;
  font-family: 'Sacramento', cursive;
  font-size: 60px;
}

h2 {
  background-color: #febac6;
  color: #fcfff5;
  text-align: center;
  font-family: 'Sacramento', cursive;
  font-size: 40px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.column {
  float: left;
  width: 25%;
}
.row:after {
  content: '';
  display: table;
  clear: both;
}

@media (min-width: 1200px) {
  .column {
    width: 25%;
  }
}

@media (max-width: 1200px) {
  .column {
    width: 33.33%;
  }
}
@media (max-width: 768px) {
  .column {
    width: 50%;
  }
}

@media (max-width: 320px) {
  .column {
    width: 100%;
  }
}
